<ServiceWorkerUpdateNotify>
  <button data-test-update>
    Click here to update
  </button>
</ServiceWorkerUpdateNotify>


<ServiceWorkerUpdateNotify @pollingInterval={{1000}}>
  <button data-test-update-overridden>
    Click here to update
  </button>
</ServiceWorkerUpdateNotify>