<h2 id="title">Welcome to Ember</h2>
<EmberServiceWorkerUpdateNotify/>
<ServiceWorkerUpdateNotify>
  <div class="uk-text-center uk-padding-small uk-background-secondary uk-light">
    <a class="service-worker-update-notify" href="">
      New Version
    </a>
  </div>
</ServiceWorkerUpdateNotify>

{{outlet}}